*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    font-family: "Helvetica Neue","sans-serif";
    font-size:  1rem;
    color: #000;
    background-color: #f5f5f5;
    }
header nav{
    background-color: #111;
    padding: 10px 0;
}

.container {
    width:90vw;
    margin: 0px auto;
}

header nav .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav .logo{
    color: white;
    text-decoration:none ;
}

header nav .menu ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
}

header .hero{
    background-image: url("../images/hero_image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login{
    position: fixed;
    width: 70%;
    left: 15%;
    top: 40%;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .3);
}

main{
    margin: 20px 0px;
    }

main .container h3 {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
    }

main .container .plates-product {
    display: flex;
    flex-direction: column;
}

main .container .plates-product .plate {
    background-color: #fff;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .3);

}

main .container .plates-product .plate:hover {
    background-color: #dedede;
    transition: 0.5s ease;
}

main .container .plates-product .plate img {
    border-radius: 5px 5px 0px 0px;
    margin-bottom:10px;
}

main .container .plates-product .plate h4{
    padding: 0px 20px;
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 5px;
}
main .container .plates-product .plate button {
    width: 50%;
    margin: 20px auto;
    padding: 10px;
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, .3);
    text-transform: uppercase;
    background-color: #000;
    color: white;
    cursor: pointer;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .3);
    transition: 0.3s ease;
}

main .container .plates-product .plate button:hover {
    background-color: #dedede;
    color:#000;
}

footer {
padding: 10px 0px;
text-align: center;
font-weight: bold;
}

footer .container a {
    text-align: center;
    font-weight: bold;
}
.section-about .container {
    height: 70px;
    background-color: rgb(255, 255, 255);
    color: rgb(59, 59, 59);
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-about-content .container {
    background-color: #fff;
    color: #111;
    padding: 10px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, .2);
}

.section-about-content .container:hover {
    background-color: #dedede;
    transition: 0.3s ease;
}


@media (min-width: 600px){
    main .container .plates-product {
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    }
}

/*modal*/
.modal{
position: fixed;
width: 70%;
left: 15%;
top: 40%;
background: #fff;
padding: 20px;
border-radius: 5px;
box-shadow: 1px 1px 3px rgba(0, 0, 0, .3);

}

/*form plate*/

.form-group{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}

.form-control{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, .3);
    background-color: #fff;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .3);
}

.btn{
    padding: 10px;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .3);
    cursor: pointer;
}

.btn:hover{
    opacity: 0.85;
}

.btn-success{
    background: green;
    color: #fff;
}

.btn-danger{
    background: red;
    color: #fff;
}

/*Utils*/

.hide{
    display: none;
}

    main .container .plates-product .plate {
    width: 300px;
}
